[submodule "ruby-on-rails.tmbundle"]
	path = ruby-on-rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "capybara.tmbundle"]
	path = capybara.tmbundle
	url = git://github.com/lucasefe/capybara-tmbundle.git
[submodule "sass.tmbundle"]
	path = sass.tmbundle
	url = git://github.com/seaofclouds/sass-textmate-bundle.git
[submodule "handcrafted-haml.tmbundle"]
	path = handcrafted-haml.tmbundle
	url = git://github.com/handcrafted/handcrafted-haml-textmate-bundle.git
[submodule "jquery.tmbundle"]
	path = jquery.tmbundle
	url = git://github.com/kswedberg/jquery-tmbundle.git
[submodule "Scalate.tmbundle"]
	path = Scalate.tmbundle
	url = git://github.com/scalate/Scalate.tmbundle.git
[submodule "Showoff.tmbundle"]
	path = Showoff.tmbundle
	url = git://github.com/drnic/Showoff.tmbundle.git
[submodule "cucumber-tmbundle"]
	path = cucumber-tmbundle
	url = git://github.com/cucumber/cucumber-tmbundle.git
